@media screen and (max-width: 420px) {
   body {
      overflow-x: hidden;
   }
   .about h1 {
      font-size: 4rem;
   }

   .zoom-content {
      width: 100%;
      overflow-x: hidden;
   }

   .active {
      width: 100%;
      overflow-x: hidden;
   }
   .header-1 {
      overflow-x: hidden;
      width: 100%;
      background-size: cover;
   }
   .nav-link {
      line-height: 5rem;
   }
   .hamburger {
      top: 1.5rem;
      right: 1.5rem;
   }
   .sidebar {
      width: 25rem;
   }
   .banner-text h1 {
      font-size: 2rem;
      margin-top: 20rem;
      margin-left: 10%;
   }

   .banner-text h1 span {
      font-size: 3rem;
   }

   .split {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .about-s {
      height: 120vh;
   }
   .split .para {
      height: 80%;
      font-size: 2rem;
   }

   .skills {
      width: 80%;
      overflow: hidden;
   }
   .skills h1 {
      font-size: 3rem;
   }
   .skills li h3 {
      font-size: 1.6rem;
   }
   .card {
      width: 300px;
      height: 400px;
      margin: 1rem;
   }
   .card .content {
      width: 300px;
   }


   .contact h1{
      font-size: 3rem;
   }
   .form{
      width: 90%;
      height: 70%;
   }
}

/*////////////////////////////////////////////777    /////////////////*/
@media screen and (max-width: 777px) {
   .banner-text h1 {
      font-size: 4rem;
      margin-top: 20rem;
      margin-left: 10%;
   }

   .banner-text h1 span {
      font-size: 6rem;
   }

   .split {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .split .para {
      width: 100%;
      height: 80%;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
   }
   .about-s {
      height: 150vh;
   }

   .swiper-slide {
      width: 300px;
   }
   .card {
      width: 300px;
      height: 400px;
      margin: 5rem;
   }
   .card .content {
      width: 300px;
   }
   .form{
      width: 350px;
   }
}
